.whatsapp-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #25d366;
    color: white;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, opacity 0.3s;
    display: flex;
    align-items: center;
    cursor: pointer; /* Asegura que el cursor cambie al pasar sobre el botón */
}

.whatsapp-button:hover {
    background-color: #1ebe50;
    opacity: 1;
}

.whatsapp-button.inactive {
    background-color: rgba(37, 211, 102, 0.5);
    pointer-events: none;
}

.ml-2 {
    margin-left: 0.5rem;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Fondo difuminado */
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.custom-modal.show {
  opacity: 1;
  pointer-events: auto;
}

.custom-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  max-width: 90%;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
}

.custom-modal.show .custom-modal-content {
  transform: translateY(0);
  opacity: 1;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.custom-modal-header h2 {
  margin: 0;
}

.custom-modal-header button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.custom-modal-body {
  padding: 20px 0;
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}