/* WspBtn.css */
.wsp-btn {
  background-color: #25d366; /* Color de fondo verde de WhatsApp */
  color: white; /* Color del texto en blanco */
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, opacity 0.3s;
  border: none; /* Asegura que no haya bordes */
  display: flex;
  align-items: center; /* Alinea el contenido verticalmente al centro */
}

.wsp-btn:hover {
  background-color: #1ebe50; /* Color al pasar el ratón */
}

.modal-btn-submit {
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Color del texto en blanco */
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem; /* Tamaño más pequeño */
  border: none; /* Asegura que no haya bordes */
}

.modal-btn-cancel {
  background-color: white; /* Fondo blanco */
  color: #007bff; /* Texto azul */
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem; /* Tamaño más pequeño */
  border: 1px solid #007bff; /* Borde azul */
}

.modal-btn-cancel:hover {
  background-color: #f8f9fa; /* Fondo ligeramente gris al pasar el ratón */
}
