.table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  th {
    background-color: #1f2937;
    color: white;
    text-align: left;
  }
  
  td {
    background-color: #f8f8f8;
    position: relative;
  }
  
  .group:hover .invisible {
    visibility: visible;
  }
  
  .actions-column {
    width: 150px; /* Aumentar el ancho de la columna de acciones */
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-gray-500 {
    color: #6b7280;
  }
  
  .text-red-500 {
    color: #ef4444;
  }
  
  .text-green-500 {
    color: #10b981;
  }
  
  .text-blue-500 {
    color: #3b82f6;
  }
  
  .text-yellow-500 {
    color: #f59e0b;
  }
  
  .mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }  