.custom-button {
  background-color: #4F46E5; /* Cambia este color al que desees */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #4338CA; /* Cambia este color al que desees */
}

.custom-button:disabled {
  background-color: #D1D5DB; /* Cambia este color al que desees */
  cursor: not-allowed;
}
