.navbar {
    display: flex;
    justify-content: center;
    gap: 4rem; 
    margin-top: 1rem;
    padding: 0 1rem; 
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.nav-item {
    position: relative;
    padding-bottom: 0.5rem; 
    white-space: nowrap;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease-in-out;
    font-size: 1.25rem;
    background-color: transparent; /* Asegurar que el fondo es transparente */
}

.nav-item:hover {
    color: #FF0000;
    background-color: transparent !important; /* Forzar fondo transparente */
}

.underline-animation {
    height: 1px;
    width: 0;
    background-color: #FF0000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
    opacity: 1;
}

.nav-item:hover .underline-animation {
    width: 100%;
}

@media (max-width: 767px) {
    .navbar {
        gap: 2rem;
    }

    .nav-item {
        font-size: 1.125rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        gap: 3rem;
    }

    .nav-item {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .navbar {
        gap: 6rem;
    }

    .nav-item {
        font-size: 1.5rem;
    }
}