.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  color: black;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*Header Styles*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Cards Styles */
.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  padding: 2rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  justify-items: center;
}

@media (min-width: 768px) {
  .cards-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cards-container {
      grid-template-columns: repeat(3, 1fr);
  }
}

.desktop-ml-58 {
  margin-left: 0;
}

@media (min-width: 1024px) { /* Ajusta el valor del breakpoint según tu necesidad */
  .desktop-ml-58 {
      margin-left: 14.5rem; /* ml-58 en Tailwind equivale a 58 * 0.25rem = 14.5rem */
  }
}
